[Unit]
Description=RAUC Good-marking Service
After=multi-user.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecCondition=@BINDIR@/check-fsup-state.sh
ExecStart=@SBINDIR@/fs-updater --commit_update
SuccessExitStatus=17

[Install]
WantedBy=multi-user.target
